
#postGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    margin-top: 4rem;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.grid-item h3 {
    margin: 10px;
    font-size: 18px;
}
#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}
.pagination-link {
    margin: 0 5px;
    padding: 10px 16px;
    text-decoration: none;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.pagination-link.active {
    background-color: var(--light-gray);
    color: var(--black);
    border: 1px solid #007bff;
}

.pagination-link:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width:768px) {
    #postGrid{
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
  
  
    }

    
}
@media (max-width:425px) {
    #postGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-item{
        justify-self: center;
    }
    .grid-item img{
        height: 200px;
    }

    
}
